@import url('https://fonts.googleapis.com/css?family=Rubik:400,300,700,500|Rubik+Mono+One:400|Roboto:400,700,500');

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

ul {
  list-style-type: none;
}

i:hover {
  cursor: pointer;
}

.sidemenu {
  display: flex;
  background-color: #f0b5a4;
  width: 100%;
  height: 95%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.sidemenu-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f0b5a4;
  align-items: center;
}

.sidemenu .close-button {
  justify-self: start;
  align-self: start;
}

.sm-icons {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.sidemenu .listItem-wrapper {
  display: flex;
  justify-content: center;

  width: 70%;
  height: 50%;
}

.listItem-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5px;
  width: 30px;
  height: 100%;
}

.listItem-text {
  flex-wrap: wrap;
  height: 100%;
}

.sidemenu h2 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20%;
}

.sidemenu ul {
  padding: 0px;
  margin-left: 20px;
  margin-top: 30px;
}

.sidemenu .phone {
  margin-top: -6px;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hider {
  height: 55px;
  width: 100%;
}

/* SlideShow */
.slide {
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 760px) {
  .slideshow {
    width: 375px;
  }
}

@media only screen and (min-width: 761px) {
  .slideshow {
    margin: 0 auto;
    overflow: hidden;
    width: 700px;
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
  }

  .slideshowSlider {
    height: 700px;
    white-space: nowrap;
    transition: ease 1000ms;
  }

  .heroWrapperDesktop {
    display: flex;
    justify-content: center;
  }

  .heroDesktop {
    max-width: 760px;
    height: 100%;
    object-fit: cover;
    max-height: 994px;
  }
}

Footer.footerDesktop {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 150px;
}

.footer-links a {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.005em;
  font-weight: 300;
  color: #f4f4f4;
  margin-right: 50px;
}

.sm-logos {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-around;
  width: 15%;
}

/* Buttons */

.slideshowDots {
  text-align: center;
  position: absolute;
  top: 42%;
  left: 30%;
  right: 30%;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: black;
}

.container-fluid {
  height: 100%;
  width: 100%;
  padding: 0;
}

h4 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.085em;
}
/*skapat denna css för h6*/
h6 {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  /*vad har ordinarie h6 för fontzise? verkar vara 0.67em-vad betyder det?*/
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.005em;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 45vh;
}

.homeWrapper {
  display: flex;
  flex-direction: column;
  justify-self: stretch;
  height: 80vh;
}
/* 
.heading h4 {
  margin-top: 5%;
} */

.login-window-wrapper {
  display: flex;
  padding: 5vw;
  height: auto;
  background-color: white;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.book-wrapper {
  display: flex;
  background-color: #fafafa;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 81vh;
}

.bookContent-wrapper {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 95%;
  width: 93%;
}

.bookList-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  height: 90%;
  width: 85%;
}

.bookList-wrapper .card {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bookList-wrapper .cards-left {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.bookList-wrapper .cards-right {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.heading h4 {
  margin-left: 20vw;
  margin-right: 20vw;
}

.readyToUse {
  display: flex;
  background-color: #f0b5a4;
  align-items: center;
  text-align: center;
  height: 84vh;
}

.readyToUse-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70%;
  flex-direction: column;
}

.readyToUse h3 {
  margin-top: 10vh;
  margin-bottom: 0;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 100%;
}

.readyToUse h5 {
  margin-top: 0;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  margin-left: 5vw;
  margin-right: 5vw;
}

.big {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18.8815px;
  line-height: 149%;
}
.a:hover Link:hover {
  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: space-around;
}

.btns Button {
  min-width: 130px;
  height: 4vh;
}

.homeWrapperSigned {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
